#물리적인 서버 단위로 발급 하는 아이디
omp.common.id.server=개발자의이니셜써주세요

#강제 적용 로케일(대만)
#omp.common.locale.force=zh_TW

#로그레벨 조정(기본 WARN)
omp.common.loglevel=DEBUG

#로그기록자 조정
#log4j.rootCategory=WARN,stdout
#log4j.logger.sctrlog=OFF
#log4j.logger.onm=INFO
#omp.common.path.log.service.area=${omp.common.path.temp.base}
#omp.common.path.log.onm.area=${omp.common.path.temp.base}

#임시파일 root
#omp.common.path.temp.root=${sysprop.java.io.tmpdir}
#내부 공유 base
#omp.common.path.share.base=X:/share/internal
#서비스 공유 base
#omp.common.path.http-share.base=X:/share/service

#adminpoc http URL 머릿부분
#omp.common.url-prefix.http.admin=http://localhost:8080

#adminpoc https URL 머릿부분
#omp.common.url-prefix.https.admin=http://localhost:8080

#devpoc http URL 머릿부분
#omp.common.url-prefix.http.dev=http://localhost:8080

#devpoc https URL 머릿부분
#omp.common.url-prefix.https.dev=http://localhost:8080

#DL 연동 URL 머릿부분
#omp.common.dl.server.host=http://dl.dtstore.tw

#ARM 연동 URL 머릿부분
#omp.common.arm.server.host=http://arm.dtstore.tw
