@charset "utf-8";
iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
}

	/* Type Selector */
	html, body, table, td, th, p, a, span, div,input,textarea,select{
		font-family:Arial,sans-serif;
		font:11px/1.5;
		text-decoration:none;
		color:#666666;
	}
	*{
		padding:0;
		margin:0;
	}
	body{background-color:#fff;color:#737373;font:12px/1.5 Arial,sans-serif;}

	table{border-collapse:collapse;border-spacing:0;}

	img,fieldset{
		border:0px;
		vertical-align:middle;
	}

	fieldset {border:0px; display: block; clear: both; }

	img.db{
		display:block;
	}

	table {
		border-spacing:0px;
		border:0px;
		border-collapse:collapse;
	}

/* 04 20 addition */
	td {
	word-wrap:break-word;
	}
	.testClass {
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */}
/* 04 20 addition */

	ul,dl,ol{
		padding:0;
		margin:0;
		list-style:none;
	}

	legend,address,hr,.dn{display:none;}

	form {display:inline;}

	label.w100 { width:100%; display:block;}

/*link*/
	a{text-decoration:none; color:#464646;}
	a:link{text-decoration:none; color:#464646;}
	a:visited{text-decoration:none; color:#464646;}
	a:hover{text-decoration:none; color:#464646;}
	.unline {text-decoration: underline !important;}

/* png */
	.png24{tmp:expression(setPng24(this));}

/* form tag css */
	input{vertical-align:middle; font-size:11px; color: #464646 !important; font-weight: normal !important;}
	select{vertical-align:middle; color: #464646 !important; font-weight: normal !important;}
	input.text{
		border:1px solid #dddddd;
		height:19px;
	}
	textarea{vertical-align:middle;}
	textarea.text{
		border:1px solid #dddddd;
	}
	select{
		font-size:11px;
		color:#464646;
		vertical-align:middle;
		}
	option {
		padding-left: 3px;
	}
	/* ff style */
	input[type=radio] {border:0;margin:-2px 0 0 0;padding:0;}
	input[type=checkbox] {border:0;margin:-2px 0 0 0;padding:0;}
	/* ff style // */

	/* ie style */
	input {margin:expression((this.type=='radio' || this.type=='checkbox')?'-2px 0 0 0':'0;');}
	input {margin:expression((this.type=='text'))}
	input {background-color:expression((this.type=='radio' || this.type=='checkbox')?'transparent':';');}
	/* ie style // */

	.bnone {border:none;}

/* standard font css */

	.vdn{font-family:verdana;}
	.thm{font-family:tahoma;}

	.b{font-weight:bold;}
	.fwn {font-weight:normal;}
	.ls1{letter-spacing:-1px;}
	.ws1{word-spacing:-1px;}
	.lw1{
		letter-spacing:-1px;
		word-spacing:-1px;
	}
	.lw0{
		letter-spacing:0px;
		word-spacing:0px;
	}

	.big{font-size:14px !important;}
	.large{font-size:13px !important;}
	.nomal{font-size:12px !important;}
	.msmall{font-size:11px;}
	.small{font-size:10px !important;}


	.lh14{line-height:14px;}
	.lh15{line-height:15px;}
	.lh16{line-height:16px;}
	.lh17{line-height:17px;}
	.lh18{line-height:18px;}
	.lh19{line-height:19px;}
	.lh20{line-height:20px;}
	.lh21{line-height:21px;}
	.lh22{line-height:22px;}

/* 4_22 additon */
	.fb {color:#000;}
	.fw {color:#fff;}
	.fg1 {color:#ccc5d5;}
	.fg2 {color:#b8b8b8;}
	.fg3 {color:#c3c3c3;}
	.fy1 {color:#ffc600;}
	.fb1 {color:#3e4a7e;}
	.fb2 {color:#034ea2;}
/* ///4_22 additon */

/* standard align css */

	.cen{text-align:center !important;}
	.left{text-align:left !important;}
	.right{text-align:right !important;}



	.fcenter{
		margin:0 auto;
		text-align:left;
	}

	.vtop{vertical-align:top;}
	.vmid{vertical-align:middle;}
	.vbtm{vertical-align:bottom;}

/* float & clear css  */
	.fl{float:left;}
	.fr{float:right;}
	.cl{clear:left;}
	.cr{clear:right;}
	.cb{clear:both;height:0; overflow:hidden;}
	.cbo{clear:both;}

/* display */
.disb {display:block;}
.disib {display:inline-block;}
.disi {display:inline;}

/* poiter */
	.hand{cursor:pointer;}



/* input type */

	.input{
		border:1px solid #7f9db9;
		padding: 3px 0 1px 5px;
		font-size:11px;
		color:#464646;
		height: 15px;
		margin:0;
		}
	.input_file{
		border:1px solid #7f9db9;
		padding: 1px 0 1px 5px;
		font-size:11px;
		color:#464646;
		height: 17px;
		}
	.file{
		border:1px solid #dedede;height:16px;
		height:20px;
		font-size:11px;
		font:12px/1.5 Arial,sans-serif;
		color:#737373;
		}
	.check{
		width:15px;height:15px;
		}
	.inputR { text-align:right; }










/* ul_bullet */
/*
ul.arrow01 {list-style:none; margin:0; padding:0; }
	ul.arrow01 li {
		background:url('../images/common/ico/bul_01.gif') no-repeat 1px 7px;
		padding: 0 0 0 10px;
		font-weight:bold;
		color: #464646;
		font-size: 12px;
		}



ul.arrow02 {list-style:none; margin:0; padding:0; }
	ul.arrow02 li {
		background:url('../images/common/ico/bul_01.gif') no-repeat 1px 6px;
		padding: 0 0 0px 10px;
		color: #000;
		font-size: 12px;
		font-weight:bold;
		vertical-align:top;
		}
*/
/*
ul.bul_dot_01 {list-style:none; margin:0; padding:0; }
	ul.bul_dot_01 li {
		background:url('../images/common/ico/bul_dot_01.gif') no-repeat 1px 50%;
		line-height: 30px;
		padding: 0 0 0px 10px;
		color: #000;
		font-size: 12px;
		font-weight:bold;
		vertical-align:top;
		}

*/

/* margin */
.btm3{margin-bottom:3px;}

/*
	images style
*/
/* web page */
	.imgBox_135 { position:relative; width:147px; height:148px; padding:9px 0 0 9px; background:url(../images/product/imgbox_135_bg.gif) no-repeat; }
	.imgBox_135 p { width:135px; height:135px; margin:0; overflow:hidden; }
	.imgBox_135 p img { width:135px; height:135px; }
	.imgBox_135 .imgLight { position:absolute; }

	.imgBox_65 { position:relative; width:71px; height:72px; padding:4px 0 0 4px; background:url(../images/product/imgbox_65_bg.gif) no-repeat; }
	.imgBox_65 p { width:65px; height:65px; margin:0; overflow:hidden; }
	.imgBox_65 p img { width:65px; height:65px; }
	.imgBox_65 .imgLight { position:absolute; }

	.imgBox_40 { position:relative; width:45px; height:45px; padding:4px 0 0 4px; background:url(../images/product/imgbox_40_bg.gif) no-repeat; }
	.imgBox_40 p { width:40px; height:40px; margin:0; overflow:hidden; }
	.imgBox_40 p img { width:40px; height:40px; }
	.imgBox_40 .imgLight { position:absolute; }

/* Wap page */
	.imgBox_62 { position:relative; width:69px; height:69px; padding:4px 0 0 4px; background:url(../images/product/imgbox_62_bg.gif) no-repeat; }
	.imgBox_62 p { width:62px; height:62px; margin:0; overflow:hidden; }
	.imgBox_62 p img { width:62px; height:62px; }
	.imgBox_62 .imgLight { position:absolute; }

	.imgBox_38 { position:relative; width:45px; height:45px; padding:4px 0 0 4px; background:url(../images/product/imgbox_38_bg.gif) no-repeat; }
	.imgBox_38 p { width:38px; height:38px; margin:0; overflow:hidden; }
	.imgBox_38 p img { width:38px; height:38px; }
	.imgBox_38 .imgLight { position:absolute; }

/* png */
	.png24{tmp:expression(setPng24(this));}


/* common margin setting */
.mt0 {margin-top:0;}
.mr0 {margin-right:0;}
.mb0 {margin-bottom:0;}
.ml0 {margin-left:0;}
.mar {margin:0;}
.padd {padding:0;}


.ml05 { margin-left:5px; }   .ml10 { margin-left:10px; }   .ml15 { margin-left:15px; }   .ml20 { margin-left:20px; }   .ml22 { margin-left:22px; }   .ml25 { margin-left:25px; }   .ml30 { margin-left:30px; }   .ml40 { margin-left:40px; }
.mr05 { margin-right:5px; }  .mr10 { margin-right:10px; }  .mr15 { margin-right:15px; }  .mr20 { margin-right:20px; }  .mr22 { margin-right:22px; }   .mr25 { margin-right:25px; }  .mr30 { margin-right:30px; }  .mr40 { margin-right:40px; }
.mt05 { margin-top:5px; }    .mt10 { margin-top:10px; }    .mt15 { margin-top:15px; }    .mt20 { margin-top:20px; }    .mt22 { margin-top:22px; }    .mt25 { margin-top:25px; }    .mt30 { margin-top:30px; }    .mt40 { margin-top:40px; }
.mb05 { margin-bottom:5px; } .mb10 { margin-bottom:10px; } .mb15 { margin-bottom:15px; } .mb20 { margin-bottom:20px; }   .mb22 { margin-bottom:22px; }    .mb25 { margin-bottom:25px; } .mb30 { margin-bottom:30px; } .mb40 { margin-bottom:40px; }

.mr90 {margin-right:90px;}
.pb68 { padding-bottom:68px;}

.pt10 {padding-top:10px;}     .pt15 {padding-top:15px;}     .pt20 {padding-top:20px;}
.pr10 {padding-right:10px;}   .pr15 {padding-right:15px;}   .pr20 {padding-right:20px;}
.pb10 {padding-bottom:10px;}  .pb15 {padding-bottom:15px;}  .pb20 {padding-bottom:20px;}
.pl10 {padding-left:10px;}    .pl15 {padding-left:15px;}    .pl20 {padding-left:20px;}




