@charset "utf-8";

/* 공통영역 */
.fl {float:left}
.fr {float:right}
.no_bor {border:0 none !important}
.no_bg {background:none !important}
.nobr_t {border-top:0 none !important}

.text_l{text-align:left !important}
.text_c{text-align:center}
.text_r{text-align:right}

.block{display:block}
.inblock{display:inline-block}

.overflow_h{overflow:hidden; zoom:1}

.v_middle{vertical-align:middle}

.popup label{padding:0 0 2px 0; margin:0;}

/* color */
.c_333, a.c_333 {color:#333}
.c_ccc, a.c_ccc {color:#ccc}

.point2, a.point2,.c_c06, a.c_c06 {color:#cc0066}
.point1, a.point1,.c_06f, a.c_06f {color:#0066ff}

/* font */
.h1_sub{font-size:12px; font-weight:normal}

/* 버튼 */
a.btn{display:inline-block;padding-right:4px;background:url(../images/bg_btn.gif) no-repeat 100% 0;font-size:12px;color:#444;line-height:26px;text-decoration:none !important;white-space:nowrap;}
a.btn span,a.btn strong{display:block;padding:1px 8px 0 12px;background:url(../images/bg_btn.gif) no-repeat; font-weight:normal;}
a.btn_s{display:inline-block;padding-right:4px;background:url(../images/bg_btn.gif) no-repeat 100% -27px;font-size:93%;color:#444;line-height:21px;text-decoration:none !important;white-space:nowrap;}
a.btn_s span,a.btn_s strong{display:block;padding:1px 4px 0 8px;background:url(../images/bg_btn.gif) no-repeat 0 -27px; font-weight:normal;}
a.btn_ss{display:inline-block;padding-right:4px;background:url(../images/bg_btn.gif) no-repeat 100% -48px;font-size:11px;color:#444;line-height:21px;text-decoration:none !important;white-space:nowrap}
a.btn_ss span,a.btn_ss strong{display:block;padding:0 4px 0 8px;background:url(../images/bg_btn.gif) no-repeat 0 -48px; font-weight:normal;}
a.btn:link, a.btn_s:link {color:#444}
.pop_btn{width:100%; padding-top:20px; text-align:center}

/* 탭 */
.tab{position:relative;height:29px;margin:20px 0 10px;background:url(../images/tab_menu.gif) repeat-x 0 100%;font-family:'돋움',dotum;font-size:12px}
.tab ul,.tab ul li{margin:0;padding:0}
.tab ul li{list-style:none}
.tab ul li,.tab ul li a{background:url(../images/bg_tab_off.gif) no-repeat}
.tab ul li{float:left;margin-right:-1px;line-height:26px}
.tab ul li a{display:inline-block;padding:2px 16px 1px;_padding:3px 16px 0;background-position: 100% 0;font-weight:bold;color:#888;text-decoration:none !important}
.tab ul li a:hover{color:#000}
.tab ul li.on,.tab ul li.on a{background-image:url(../images/bg_tab_on.gif)}
.tab ul li.on a{color:#3376b8}



/* layout */
body.popup{background:none; color:#666}

#popup_area_810{width:770px; overflow:hidden; padding:30px 20px; clear:both}
#popup_area_440{width:400px; overflow:hidden; padding:30px 20px; clear:both}

.popup h1{padding-bottom:10px; margin-bottom:20px; border-bottom:1px solid #999; font-size:16px; color:#333}
.popup h2{background:none !important; padding:0}

/* pop_tabletype01 */
.pop_tabletype01{width:100%}
.pop_tabletype01 th, .pop_tabletype01 td{border:1px solid #d6d6d6; padding:8px 10px; font-weight:normal; font-size:12px;}
.pop_tabletype01 th{background:#f8f8f8}
/* pop_tabletype02 */
.pop_tabletype02{width:100%}
.pop_tabletype02 th, .pop_tabletype02 td{border:1px solid #d6d6d6; padding:8px 10px; text-align:center; font-weight:normal; font-size:12px;}
.pop_tabletype02 th{background:#f8f8f8}

/* box01 */
.box01{width:100%; height:80px; overflow-y:scroll; background:#ededed; border:1px solid #ccc; padding:3px}
.box02{background-color: #ccc; padding:10px 5px;}
.box03{border: 1px solid #ccc; padding-bottom:15px; text-align:center;}
.box04{width:750px; background:#eee; border:1px solid #dadada; padding:10px}

/* ul_case01 */
.ul_case01{overflow:hidden; zoom:1;}
.ul_case01 li{float:left; width:100px; padding-left:50px; text-align:left;}

/* ul_case02 */
.ul_case02{background:#fff; height:80px !important; padding:5px 0 0 0; border:1px solid #ccc;}
.ul_case02 li{width:100%;text-align:left;}
.ul_case02 li a{display:block; width:100%;text-align:left; padding:5px; color:#333;}
.ul_case02 li a:hover{background:#eee; text-decoration:none; font-weight:bold;}

/* padding */
	.pt05{padding-top:5px}
	.pt10{padding-top:10px}
	.pt15{padding-top:15px}
	.pt20{padding-top:20px}
	.pt25{padding-top:25px}
	.pt30{padding-top:30px}
	.pt35{padding-top:35px}
	.pt40{padding-top:40px}
	
	.pr05{padding-right:5px}
	.pr10{padding-right:10px}
	.pr15{padding-right:15px}
	.pr20{padding-right:20px}
	.pr25{padding-right:25px}
	.pr30{padding-right:30px}
	.pr35{padding-right:35px}
	.pr40{padding-right:40px}
	
	.pl05{padding-left:5px}
	.pl10{padding-left:10px}
	.pl15{padding-left:15px}
	.pl20{padding-left:20px}
	.pl25{padding-left:25px}
	.pl30{padding-left:30px}
	.pl35{padding-left:35px}
	.pl40{padding-left:40px}

	.pb05{padding-bottom:5px}
	.pb10{padding-bottom:10px}
	.pb15{padding-bottom:15px}
	.pb20{padding-bottom:20px}
	.pb25{padding-bottom:25px}
	.pb30{padding-bottom:30px}
	.pb35{padding-bottom:35px}
	.pb40{padding-bottom:40px}


/* margin */
	.mt05{margin-top:5px}
	.mt10{margin-top:10px}
	.mt15{margin-top:15px}
	.mt20{margin-top:20px}
	.mt25{margin-top:25px}
	.mt30{margin-top:30px}
	.mt35{margin-top:35px}
	.mt40{margin-top:40px}	
	.mt45{margin-top:45px}
	.mt50{margin-top:50px}
	
	.mr05{margin-right:5px}
	.mr10{margin-right:10px}
	.mr15{margin-right:15px}
	.mr20{margin-right:20px}
	.mr25{margin-right:25px}
	.mr30{margin-right:30px}
	.mr35{margin-right:35px}
	.mr40{margin-right:40px}	
	.mr45{margin-right:45px}
	.mr50{margin-right:50px}
	
	.ml05{margin-left:5px}
	.ml10{margin-left:10px}
	.ml15{margin-left:15px}
	.ml20{margin-left:20px}
	.ml25{margin-left:25px}
	.ml30{margin-left:30px}
	.ml35{margin-left:35px}
	.ml40{margin-left:40px}
	.ml45{margin-left:45px}
	.ml50{margin-left:50px}

	.mb0{margin-bottom:0px !important}
	.mb05{margin-bottom:5px}
	.mb10{margin-bottom:10px}
	.mb15{margin-bottom:15px}
	.mb20{margin-bottom:20px}
	.mb25{margin-bottom:25px}
	.mb30{margin-bottom:30px}
	.mb35{margin-bottom:35px}
	.mb40{margin-bottom:40px}
	.mb45{margin-bottom:45px}
	.mb50{margin-bottom:50px}
	


/* 백민정 추가*/
	
	.detail{overflow:hidden; zoom:1;}
	.detail ul{margin-top: 10px;}

	.cate_1{width: 120px; float: left; padding-left: 60px; text-align: left;}
	.cate_2{width: 120px; float: left; padding-left: 60px; text-align: left;}

	.p_title{font-weight: bold; font-size: 14px; line-height: 1.5em;}

