<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Level :  OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL  -->


    <!-- #################################################################################### -->
    <!-- Framework, Library, System 관련 Appender 및 Logger 설정 부분 시작!!                  -->
    <!-- #################################################################################### -->
    
    <!-- Console 용 Appender 설정 -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c{1} - %m%n"/>
        </layout>
    </appender>
    
    
    <!-- Monitoring DEBUG 용 Appender 설정 -->
    <appender name="STDOUT" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/log/was/logs/Monitoring.log" />
        <param name="Encoding" value="UTF-8" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="ImmediateFlush" value="true" />
        <param name="Append" value="true" />
		<param name="MaxFileSize" value="1000KB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p [%C.%M():%L] %m%n"/>
        </layout>
    </appender>
    
    <!-- #################################################################################### -->
    <!-- Application 관련 Appender 및 Logger 설정 부분 끝!!                                   -->
    <!-- #################################################################################### -->

    <!-- 아파치 프로젝트 관련 Library 들의 전체 로깅 설정 -->
    <logger name="org.apache">
        <level value="ERROR" />
    </logger>

    <!-- #################################################################################### -->
    <!-- Library, System 관련 Appender 및 Logger 설정 부분 시작!!                  -->
    <!-- #################################################################################### -->
    

    <!-- Spring Framework 로깅 -->
    
    <logger name="org.springframework">
    	<level value="DEBUG" />
    </logger>
    <logger name="org.springframework.web.servlet.DispatcherServlet">
    	<level value="DEBUG" />
    </logger>
    <logger name="org.springframework.core">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework.context">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework.transaction">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework.beans">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework.aop">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework.ui">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework.security">
        <level value="DEBUG" />
    </logger>
    

    <!-- iBATIS 로깅 설정 -->
    <logger name="java.sql.Connection">
    	<level value="DEBUG" />
    </logger>
    <logger name="java.sql.Statement">
    	<level value="DEBUG" />
    </logger>
    <logger name="java.sql.PreparedStatement">
    	<level value="DEBUG" />
    </logger>
    <logger name="java.sql.ResultSet">
    	<level value="DEBUG" />
    </logger>

    <!-- Root Logger 로깅 설정. -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="STDOUT" />
	</root>
    <!-- #################################################################################### -->
    <!-- Framework, Library, System 관련 Appender 및 Logger 설정 부분 끝!!                    -->
    <!-- #################################################################################### -->


</log4j:configuration>